.introduction {
  max-width: 1440px;
  margin: 0 auto;
  line-height: 28px;
  .image {
    max-width: 100%; 
    text-align: center;
    img {
      width: 100%;
    }
  }
  
  .container {
    padding: 139px 80px 126px 80px;
    display: flex;
   align-items: center;
   justify-content: space-between;
   gap:13px;
   @media screen and (max-width: 900px) {
    padding: 174px 40px 240px;
    
  }

  @media screen and (max-width: 759px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    padding: 128px 20px; 
  }
  @media screen and (max-width: 430px) {
   align-items: center;
   padding: 144px 16px 96px 16px;

  }
  .buttonsHidden {
   
    display: none;
    @media screen and (max-width: 759px) {
      display: block;
      display: flex;
      gap: 16px;
      max-width: 100%;
    }

  }
  .buttons {
    display: flex;
    gap: 16px;
    max-width: 100%;
    @media screen and (max-width: 759px) {
      display: none;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  .title {
        font-size: 60px;
        white-space: nowrap;
        line-height: 72px;
        font-family: 'Inter bold';
        @media screen and (max-width: 1209px) {
          font-size: 40px;
          line-height: 48px;
        }
        @media screen and (max-width: 375px) {
      white-space: wrap;
        
        
      }
    }
    .text {
      color: #6F7A91;
      font-size: 20px;
      @media screen and (max-width: 1209px) {
        font-size: 16px; 
      }
    
    }
  }
  }  
}