.faq {
    max-width: 1440px;
    margin: 0 auto;
    padding: 128px 80px;

    @media screen and (max-width: 1209px) {
        padding: 128px 40px;
    }
    @media screen and (max-width: 825px) {
        padding: 160px 20px;
    }
    @media screen and (max-width: 430px) {
        padding: 96px 16px;
    }
    .title {
        text-align: center;
        font-size: 32px;

        padding-bottom: 56px;
    }
    .container {
        @media screen and (max-width: 825px) {
            padding: 0;
        }
        .cardsContainer {
            display: flex;
            margin: 0 auto;
            justify-content: center;

            gap: 10px;
            @media screen and (max-width: 639px) {
                flex-direction: column;
                align-items: center;
            }
            .cards {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}
