.notfound {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100vh;
    @media screen and (max-width: 703px) {
       height: auto;
          }
    .wrapper {
        width: 100%;
       padding: 0 80px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       @media screen and (max-width: 768px) {
        padding: 0 40px;
       }
       @media screen and (max-width: 703px) {
        flex-direction: column;
        padding: 112px 40px;
       }
       @media screen and (max-width: 430px) {
        padding: 112px 16px;
       }
       .content {
        display: flex;
        flex-direction: column;
        gap: 40px;
       }
       .title {
        font-size: 60px;
        font-family: 'Inter bold';
        @media screen and (max-width: 987px) {
            font-size: 40px;
        }
       }
       .text {
        color:#6F7A91;
        font-size: 20px;
        line-height: 28px;
        max-width: 450px;
        
       }
       .image {
        @media screen and (max-width: 703px) {
         order: -1;
           }
        img {
            max-width: 100%;
        }
       
       }
    }
   
}