.result {
    display: flex;
    flex-direction: column;
    gap: 24px;
    // align-items:flex-start;
  h2 {
    margin-top: 0;
  }
  .info {
    display: grid;
    gap:4px;
    grid-template-columns:  minmax(192px, 1fr) minmax(192px, 1fr) minmax(192px, 1fr) minmax(192px, 1fr);
  }
  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .title {
    font-size: 40px;
  }
  .titleFlex {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .price {
    color:#0250EE;
    font-size: 60px;
    margin-bottom: 15px;
  }
  .subhead {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    h2 {
      margin: 0;
      padding-left: 8px;
    }
    .priceSeparated {
      color: #0250EE;
    }
  }
}