.about {
    background-color: #0250EE;
    border-radius: 40px;
    line-height: 20px;
   
    .container {
        max-width: 1440px;
        margin: 0 auto;
    .wrapper {
        padding: 128px 80px;
        display: grid;
        grid-template-columns: minmax(200px,1fr) minmax(200px,2fr); ;
        gap: 28px;
       
        @media screen and (max-width: 1209px) {
            padding: 80px 40px;
          }
          @media  screen and (max-width: 1160px) {
            grid-template-columns: minmax(200px,1fr)
         }
          @media screen and (max-width: 825px) {
            padding: 40px 20px; 
            gap: 20;
          }
         
          @media screen and (max-width: 430px) {
           padding: 16px 16px;
           gap: 16px;
        
          }
    }
    .cards {
     display: grid;
     grid-template-columns: repeat(2, minmax(200px,708px)) ;
     gap: 28px;
     justify-content: center;
     
     @media screen and (max-width: 430px) {
        gap: 16px;
       }
       @media  screen and (max-width: 753px) {
        grid-template-columns: repeat(1, minmax(200px,708px)) ;
      
     }
    }
    }
}