.btn {
display: flex;
padding: 16px 32px;
text-align: center;
border-radius: 40px;
display: flex;
align-items: center;
white-space: nowrap;
gap:9px;
align-self: baseline;
transition: all 0.4s ease-in-out;

@media screen and (max-width: 463px) {
    padding: 16px 16px;
    font-size: 14px;
   }
a {
    text-decoration: none;
}
}
.withMin {
min-width: 100px;
}
.blue {

@media screen and (max-width: 1100px) {
   align-self: flex-end;
  }
  @media screen and (max-width: 598px) {
   order:1
  }
    color: #FFFFFF;
    a {
        color: #FFFFFF;
       
    }
    background-color: #0250EE;
   
    &:hover {
        background-color: #206EFF;
    }
    &:active {
        background-color: #0240BE;
    }
}
.transparent {
    background-color: transparent;
    border: 1px solid #0250EE;
    &:hover {
        border: 1px solid #206EFF;  
    }
    &:active {
        border: 1px solid #0240BE;   
    }
    a {
    color: #0250EE;
        &:hover {
            color: #206EFF;
            
         }
         &:active {
             color: #0240BE;
          
         }
    }
   

}
.transparentDownload {
    @media screen and (max-width: 656px) {
        order:-1;
       width:100%;
       justify-content: center;       
    }
 
}
.empty {

    background-color: transparent;
    a {
        text-decoration: none;
        color: #0250EE;
        transition: all 0.4s ease-in-out;
        &:hover {
            color: #206EFF; 
         }
         &:active {
             color: #0240BE; 
         }
    }
 

}
.clear {
    background-color: transparent;
    color: #0250EE;
    white-space: nowrap;
    &:hover {
        color: #206EFF; 
     }
     &:active {
         color: #0240BE; 
     }  
}
.error {
        color: #FFFFFF;
    background-color: #DB063B;
    display: flex;
    align-items: center;
    gap: 8px;
   
    &:hover {
        background-color: #db063bd5;
    }
    &:active {
        background-color: rgb(190, 2, 2);
    }
}
.recalculate {
   color:white;
   align-self: flex-start;
    a {
      text-decoration: none;  
     
    }
}
.socials {
   display: flex;
   justify-content: center;
//    min-width: 150px;
 a {
    display: flex;
    gap: 10px;
    align-items: center;
    @media screen and (max-width: 463px) {
        gap: 5px;
        font-size: 14px;
    }
  
 }
}